.characters__container {
  padding: var(--spacing-xxl);
  font-family: Helvetica;
}

.characters__title {
  font-size: var(--font-size-xxxlarge);
  line-height: var(--spacing-xxl);
  font-weight: 300;
}

.characters__list {
  position: relative;
  width: inherit;
  min-height: 400px;
  margin-top: var(--spacing-xxl);
  display: grid;
  gap: 96px var(--spacing-md);
  grid-template-columns: repeat(auto-fill, minmax(432px, 1fr));
}


@media (max-width: 768px) {
  .characters__container {
    padding: var(--spacing-lg);
  }
  
  .characters__list {
    gap: var(--spacing-xl) var(--spacing-md);
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}