.filter__container {
  padding: 26px 50px;
  font-family: Helvetica;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
}

.filter__text {
  font-size: 16px;
  font-weight: 400;
  margin: 3px 8px 0 0;
}

.filter__select {
  padding: 2px 0 5px 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  width: 190px;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  outline: none;
  transition: 0.3s ease;
}

.filter__select:focus {
  border-color: #888;
}

.filter__select-option {
  background-color: #fff;
  color: #333;
}

@media (max-width: 768px) {
  .filter__container {
    padding: 13px 25px;
    border-bottom: 0;
  }
  
}