.img-skeleton__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-skeleton__skeleton {
  width: 100%;
  height: 100%;
  background-color: var(--color-quaternary);
  background-image: linear-gradient(90deg, var(--color-quaternary), var(--color-quinary), var(--color-quaternary));
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  position: absolute;
  top: 0;
  left: 0;
}

.img-skeleton__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.img-skeleton__img--loaded {
  display: block;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}